APP_NAME=TaskSlayer
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8080
LOCAL_UID=1000
LOCAL_GID=1000

DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=taskslayer
DB_USERNAME=taskslayer
DB_PASSWORD=secret

BACKEND_PORT=8080
FRONTEND_PORT=5173
